 <nav>
          <ul class="nav nav-pills pull-right">{{#if user}}
            
          <button type="button" class="btn btn-success" onclick="window.location.href='../dashboard'">Dashboard</button>
          <button type="button" class="btn btn-info" onclick="window.location.href='../information'">Information</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='../addQuiz'">Add/Edit Exam</button>    
          <button type="button" class="btn btn-warning" onclick="window.location.href='../allQuizzes'">Grading Quiz</button>
          <button type="button" class="btn btn-danger" onclick="window.location.href='../logout'">Logout</button></br></br>
          {{/if}}
          </ul>
        </nav>
         <div class="header clearfix">
       
        <h3 class="text">{{quizName}}</h3>
      </div>
{{#if subExist}}
{{#each studentList}}
      <div class="row">
      <span><li>{{profile.name}}</span>
      <button type="button" class="btn btn-danger" onclick="window.location.href='../grading?studentId={{_id}}&studentName={{profile.name}}&quizId={{@root.quizId}}'" style="float: right">Grade</button>
      <hr class="style1"></li>
    </div>
{{/each}}

{{else}}
  <h3 class="text">No submission for this quiz at this moment</h3> 
{{/if}}