<nav>
  <div class="nav nav-pills pull-right">{{#if user}}

    <button type="button" class="btn btn-success" onclick="window.location.href='../dashboard'">Dashboard</button>
    <button type="button" class="btn btn-info" onclick="window.location.href='../information'">Information</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='../addQuiz'">Add/Edit Exam</button>
    <button type="button" class="btn btn-warning" onclick="window.location.href='../allQuizzes'">Grading Quiz</button>
    <button type="button" class="btn btn-danger" onclick="window.location.href='../logout'">Logout</button>
    {{/if}}
  </div>

</nav>
<div class="header clearfix">
  <h3 class="text"> {{quiz.name}}</h3>
  <h4 class="text-left" id="student" data-id={{studentInfo.studentId}}>Student: {{studentInfo.studentName}}</h4>
  <div class="text-right">previous score:
    <span id="prevScore">{{prevScore}}</span>
  </div>
  <div class="text-right">total score:
    <span id="totalScore" data-id={{quiz._id}}>{{quiz.totalScore}}</span>
  </div>
</div>
  <form id="gradeForm">
    {{!-- <ol> --}}

      {{#each qaList}}
      <div class="row">
        {{!-- <li> --}}
        <h4 class="text">
          {{question}}</h4>
        <textarea readonly rows="4" cols="50" placeholder="{{answer.answer}}"></textarea>
        <hr class="style1">
        {{!-- </li> --}}
      </div>
      {{/each}}
    {{!-- </ol> --}}
    <div class="form-group hidden" id="error-container">
      <div class="alert alert-danger" id="score-alert"></div>
    </div>
    <div class="alert alert-success hidden" role="alert" id="success-container">
    </div>
    <label for="score">Score</label>
    <input class="text" name="score" id="score" />
    <button type="submit" class="btn btn-success pull-right">Grade</button>
  </form>