 <nav>
          </ul>
        </nav>
        {{#if notTaken}}
         <div class="header clearfix">
       <h3 class="text"> {{quiz.name}}</h3> 
       <span style="float: right">totalScore:{{quiz.totalScore}}</span>
      </div>
      <form id="student-take-quiz-form">
        <input id="student-id" class="hidden" value="{{user._id}}" />
      <ol>        
{{#each quiz.questions}}
    <div class="row">
      <h4 class="text"> <li>{{content}}</h4> 
      <textarea rows="4" cols="50" name={{id}}></textarea>
      <hr class="style1">
      </li>
    </div>
{{/each}}
      </ol>
        <button type="submit" class="btn btn-success" style="float: right" id="quiz-submit">Submit</button>
        <div class="alert alert-danger hidden" role="alert" id="error-container">
          You have submitted this quiz. You can't submit more than once!
        </div>
        <div class="alert alert-success hidden" role="alert" id="success-container">
          Quiz is submitted successfully! <a href="../exam">Back to Exam List</a>
        </div>
      </form>
      {{/if}}

      {{#if alreadyTaken}}
      <h3 class="text">You have already taken this quiz. You can't take more than once.</h3> 
      {{/if}}